@import url('https://fonts.googleapis.com/css?family=Montez|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav {
   width:100%;
}
.nav-stack{
  background: white;
  width:100%;
  height:7%;
  box-shadow: 22px 22px 22px 21px rgba(0, 0, 3, 0.4);
}

.headBgImage {
  background: url("./Images/nav_left_man.png")  no-repeat , url("./Images/nav_center_line.png") no-repeat, url("./Images/nav_right_man.png")  no-repeat;
  background-size : 3% 65px, 90.25% 100% , 3% 65px ;
  background-position:  0%, 20% -10px, 95%;
  position: absolute;
  width: 100%;
  height: 100%;
}
.navPointer {
  background: url("./Images/heartIcon3.png") center no-repeat;
  position: absolute;
  margin-left:-10%;
  width:100%;
  height: 100%;
  top:-20%;
  z-index:100;
}
.nav-item {
  width:10%;
  z-index: 10;
}
.nav-item i {
  margin-top:15%;
}
.nav-item a{
  margin-top:-5%;
}
.nav-item p {
  color : black;
}
/* content font */
.section-title {
  vertical-align: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Montez', cursive;
  font-size: 5em;
}
.section-subtitle {
  vertical-align: inherit;
  line-height: 1.2;
  font-weight: 200;
  text-align: center;
  font-family: 'Euphoria', cursive;
  font-size: 1.75rem;
}
.section-text {
  font-style: normal;
  line-height: 1.6;
  font-family: 'Euphoria', cursive;
  font-size: 1rem;
}

.leftNav{
  margin-right: 10px;
}

.w-32 {
  position: relative;
  margin-top:23%;
  
}
.mt-7 {
  margin-top : 16% !important;
}

section {
  height: 90%;
  width: 80%;
  margin-left:10%;
  position: relative;
}

#sOne {
  background: url("./Images/HeaderMain1.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
 #sTwo {
  background: url("./Images/skyline2.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
}
#sThree{
  background : teal;
  opacity: .5;
}
#sFour {
  background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,.3)), url("./Images/proposalBackground.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
#sFive {
  background: linear-gradient(rgba(245,255,239,0.7), rgba(255,255,255,.7)), url("./Images/minutes2.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
}
#sSeven {
  background:teal;
  width:90%;
  border-top: 2px;  
  margin-left:10%
}
#sSeven iframe {
  height: 400px;
  width:100%;
  opacity: 1;
}
.sRotate {
  font-weight: 900 !important;
  transform: rotate(-13Deg);
}
div.shadowLayer {
  position: absolute;
  width: 100%;
  height: 100%;
}
#sFour div.d-flex {
  height:100%;
}
#sFour div.d-flex div.title{
  height:5%;
}
#sFour div.d-flex div.image{
  height:40%;
}
#sFour div.d-flex div.content{
  height:1%;
  margin-left:-5%;
  margin-top:1%;
}

#sFive div.z-depth-5 {
  margin-top: 9%
}
#sSix div.row {
  height: 100px;
}

li a.active {
  /* background-color: white ;
  color: #333; */
  left : -20px;
  transition: all 2s ease-in;
}
li.a {
  width: 100%;
  left: 10px;
  transition: all 2s ease-out;
}
.top-block{
  margin-top:-15%;
  /* margin-left : 20%; */
}
.center-text {
  margin-left : 20%;
}

#sTwo P.content {
  /* line-height: 1; */
  /* font-size: 2em;
  font-weight: bold;
  position: relative; */
}
.mid-block{
  margin-top:30%;
}
.display-linebreak {
  white-space: pre-line;
  text-align: "center";
  align-content: "center";
}
.img-fullscreen {
  align-items: center;
  -webkit-align-items: center;
}
.img-halfScreen {
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  max-width:250px;
}

div.topImg {
  background: url("./Images/keyup.png") center no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  height: 100%;
  width: 80%;
  margin-left:10%;
  overflow: hidden!important;
  z-index: 0;
  position: relative
}
div.bottomImg{
  background: url("./Images/keydown.png") center no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  height: 100%;
  width: 80%;
  margin-left:10%;
  z-index: 0;
  overflow: hidden!important;
  position: relative;
}

.bgImage {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("./Images/rainB1.jpg") center no-repeat;
}

div.float-left {
n  margin-left: 4%;
}
div.float-right {
  margin-right: 4%;
}
/* div.border {
  margin-top: 5%;
} */
div.borderRight {
  border-right: 2px solid Orange!important;
}

#sFour .onHover{
  opacity: 0.3;
}
#sFour .onHover:hover{
  opacity: 1;
}
.thumbnail {
  padding: .75rem;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}
.thumbnail img {
  box-shadow: 22px 22px 22px 21px rgba(0, 0, 3, 0.4);
}


.whitey {
  background: linear-gradient(to right, white 0%, grey 100%);
}  
.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}
.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}
.fWhite {
  color:white;
}
.mbr-white {
  color: #ffffff; }

.mbr-black {
  color: #000000; }

.mbr-bg-white {
  background-color: #ffffff; }

.mbr-bg-black {
  background-color: #000000; }

/*! Text-aligns */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

  
/*! Font-weight  */

.mbr-regular {
  font-weight: 400; }

.mbr-semibold {
  font-weight: 500; }

.mbr-bold {
  font-weight: 700; }

body {
  font-style: normal;
  line-height: 1.5;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: orangered -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 2px 0;
  margin-top:3%;
  width:80%;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}


/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  #sOne, #stwo, #sThree, #sFour {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}